body {
  background-color: #fff;
  background-image: url("/img/fondo-oscuro.png");
  background-size: cover;
  
}

nav {
  height: 80px;
  line-height: 70px;
  opacity: 0.80;
  filter: alpha(opacity=70);
  background-color: #000000;
  visibility: 10%;
  
}

.card {
  font-size: 10px
  
}

.slider {
  margin-top: 10%;
}